/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root{

    /* Color */
    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 15%);
    --border: hsl(0, 0%, 30%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --primary: hsl(217, 85%, 50%);
    --primary-hover: hsl(217, 85%, 60%);

    /* Font */
    --ff: 'manrope', sans-serif;
    --p: 1rem/1.5rem var(--ff);
    --h1: bold 1.5rem/1.2rem var(--ff);
    --h2: bold 1.25rem/1.2rem var(--ff);
    --h3: bold 1rem/1.2rem var(--ff);
    --h4: bold 1.125rem/1rem var(--ff);
    --logo: bold 1.25rem/1.2rem var(--ff);
    --pBold: bold 1rem/1.5rem var(--ff);

    /* Space */
    --margin1: 3rem;
    --margin2: .75rem

}

.theme-light{
    --bg-dark: hsl(0, 0%, 85%);
    --bg: hsl(0, 0%, 90%);
    --bg-light: hsl(0, 0%, 95%);
    --border: hsl(0, 0%, 70%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --primary: hsl(350, 100%, 85%);
    --primary-hover: hsl(350, 100%, 95%);
}

/* Global style */
body{
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: 'Manrope';
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    font: var(--h1);
    margin-bottom: var(--margin2);
}

h4{
    font: var(--h4);
    margin-bottom: .25rem;
}

.container{
    margin: 2rem auto;
    max-width: min(90vw, 1020px);
}

input,textarea,select{
    background-color: var(--bg-light);
    border: none;
    height: 25px;
    border-radius: 4px;
    margin: 4px 0;
    color: var(--text);
    padding: 3px 10px;
}

#description, textarea{
    display: block;
    height: 90px;
    width: 100% !important;
    resize: none;
}


/* style */
.header,.navigation{
    display: flex;
}

.header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin1);
}

.navigation{
    gap: 1rem;
}

nav{
   
    display: none;
}

.moon{
    display: none;
}

.ham{
    rect{
         fill: var(--text);
    }
    cursor: pointer;
}

.logo{
    font: var(--logo);
}

.btn{
    display: inline-flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    font: var(--text);
    padding: 0.5rem 1rem;
}


.btn:hover, .btn-categorie:hover{
    background-color: var(--primary-hover);
}

/* off-screen menu */
.off-screen-menu{
    position: fixed;
    top: 0;
    right: -300px;
    background-color:var(--bg);
    height: 100vh;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
    border-radius: 1rem 0 0 1rem;
}

.off-screen-menu.on{
    right: 0;
    z-index: 3;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    transition: .5s ease-in-out;
}

/* main */

.categories{
    display: flex;
    overflow-x: auto;
    gap: .5rem;
}

.categories::-webkit-scrollbar{
    width: 0;
}

.btn-categorie{
    display: inline-flex;
    background-color: var(--bg-light);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    font: var(--text);
    padding: 0.12rem 1rem;
}

.btn-categorie.active{
    background-color: var(--primary);
    order: -1;
}

/* events */
.event{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 1rem 0;
    gap: 1rem;
}

.event:hover{
    cursor: pointer;
    opacity: .8;
}

.event-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-Title{
    font: var(--h4);
}

.event-date{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    font: var(--text);
    background-color: var(--bg-light);
    padding: .125rem 1rem;
}

.event-description{
    font: var(--text);
}

.event-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* formulaire d'inscription */
.inscription-form{
    background-color: var(--bg);
    position: fixed;
    bottom: -70vh;
    right: 0;
    height: 50vh;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    transition: .3s ease-in;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}



.inscription-form_text{
    color: var(--text-muted);
}

.formulaire_inscription{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        flex-direction: column;
    }
}



.inscription-form.selected{
    bottom: 0;
}


/* ADMIN.HTML */
.events-managements{
    margin-top: 32px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.event-manage{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bg);
    border-radius: 16px;
    padding: 1rem 1.25rem;
    gap: 80px;
    width: 300px;
}


    /* Formulaire creer un evenement */
/* formulaire de creation */
.creation-form,.update-form,.delete-form
{
    background-color: var(--bg);
    position: fixed;
    bottom: -90vh;
    right: 0;
    height: 90vh;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    transition: .3s ease-in;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
}

div.update-form,
div.delete-form{
    height: 50vh;
}

.formulaire_creation,
.formulaire_suppression,
.formulaire_modification{
    display: flex;
    flex-direction: column;
     div{
        display: flex;
        flex-direction: column;
    }
}

.creation-form.selected,.update-form.selected,.delete-form.selected{
    bottom: 0;
}


@media only screen and (min-width: 500px) {
    nav{
         display: flex;
         align-items: center;
    }

    .ham {
        display: none;
    }

    .inscription-form,.update-form{
        display: none;
        background-color: var(--bg);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 80vw;
        border-radius: 1rem;
        transition: .3s ease-in;
        z-index: 3;
        justify-content: center; 
    }



    .inscription-form_description,
    .creation-form_description,
    .update-form-description,
    .delete-form-description{
        text-align: center;
    }

    .formulaire_inscription,
    .formulaire_creation,
    .formulaire_suppression,
    .formulaire_modification{
        display: flex;
    div{
        display: flex;
        min-width: 380px;
        margin: 0 auto;
       }
        
    }
    .validation{
        display: flex;
        justify-content: center;
    }

    .inscription-form.selected,
    .creation-form.selected,
    .delete-form.selected,
    .update-form.selected,
    .delete-form.selected{
        display: flex;
    }

    /* admin */
    .creation-form,
    .delete-form,
    .update-form{
        display: none;
        top: 50%;
        left: 50%;
        height: 95vh;
        border-radius: 1rem;
        transform: translate(-50%,-50%);
        max-width: 80vw;
        justify-content: center;
    }


    form div{
        width: 100%;
        max-width: 900px;
    }

}

@media only screen and (min-width: 1045px){
    /* Admin.html */
    .events-managements{
        gap: 22px;
    }


}